*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
bookmarks
cache
history
tramp
transient
.\#*

# projectile
projectile-bookmarks.eld

# el-get
el-get
elpa

# smex
smex-items

# Org-mode
.org-id-locations
*_archive

# machine local files
init-local.el

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
ac-comphist.dat
session.*
